<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.interiit2016" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.abhishek.interiit2016.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.abhishek.interiit2016.permission.C2D_MESSAGE" />

    <application
        android:name=".activities.interIIT"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.abhishek.interiit2016" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcmservices.GCMPushReceiverService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcmservices.GCMRegistrationIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.etiennelawlor.imagegallery.library.activities.ImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/ImageGalleryTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.Teams"
            android:label="@string/title_activity_teams" >
        </activity>
        <activity
            android:name=".activities.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".activities.Standings"
            android:label="@string/title_activity_standings" >
        </activity>
        <activity
            android:name=".activities.NavDrawerActivity"
            android:label="@string/title_activity_standings" >
        </activity>
        <activity
            android:name=".activities.Points"
            android:label="@string/title_activity_points" >
        </activity>
        <activity
            android:name=".activities.Sports"
            android:label="@string/title_activity_sports" >
        </activity>
        <activity
            android:name=".activities.Contacts"
            android:label="@string/title_activity_contacts" >
        </activity>
    </application>

</manifest>
